:root {
  --accentColor: #085b68;
  --backgroundColor: #f8f8f8;
  --textColor: #080808;
  --hoverColor: skyblue;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

h1 {
  text-align: center;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  color: var(--textColor);
}

nav {
  border-top: 1px solid var(--textColor);
  border-bottom: 1px solid var(--textColor);
  width: 75%;
  margin: auto;
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  column-gap: 0.5rem;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: var(--accentColor);
}

a:hover {
  color: var(--hoverColor);
  text-decoration: underline;
}

.home,
.about,
.archives,
.contact {
  width: 85%;
  margin: auto;
}

.link-container {
  margin-bottom: 2%;
}

.social-links-page {
  margin-bottom: 5%;
}

footer {
  text-align: center;
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  padding: 4px 0;
}
